  <section class="flex flex-col items-center text-center mt-20 px-4">
    <div class="relative w-40 h-40 rounded-full overflow-hidden border-4 border-blue-600">
      <img src="/assets/images/profile.jpg" alt="Profile Image" class="object-cover w-full h-full" />
    </div>

    <div class="flex items-center space-x-4 mt-6">
  <span class="h-px w-12 bg-blue-400"></span>
  <p class="text-blue-400">Salut</p>
  <span class="h-px w-12 bg-blue-400"></span>
</div>

    <h1 class="text-4xl font-bold mt-2">Je m'appelle <span class="text-white">Alban <span class="text-blue-400">ESTIENNE</span></span></h1>

    <p class="text-gray-300 max-w-xl mt-4">
      I'm CEO of this company with a strong passion for building
      <span class="text-blue-400">web applications</span> &
      <span class="text-blue-400">Graphic Design</span> with great user experiences.
      <br />Here's a bit more <a href="#" class="text-blue-400 underline">about me</a>.
    </p>

    <div class="flex flex-col items-center mt-6">
        <div class="h-px w-40 bg-gray-600 mb-4"></div>
            <div class="flex space-x-6 text-gray-300 text-2xl">
            <a href="#" class="hover:text-white"><i class="fab fa-github"></i></a>
            <a href="#" class="hover:text-white"><i class="fab fa-twitter"></i></a>
        </div>
      </div>
  </section>
